:root {
    // colors
    --color-white: hsl(0, 0%, 98%);
    --color-gray: hsl(0, 0%, 39%);
    --color-black: hsl(0, 0%, 8%);

    // fonts 
    --font-family: 'Epilogue', sans-serif;
    
}

body {
    background-color: var(--color-white);
    height: 100vh;
    width: 100vw;
}

// navbar links
ul.navbar-nav {
    
    li.nav-item {
        margin-left: 2rem;

        a {
            color: var(--color-gray);

            &:hover {
                color: var(--color-black);
            }
        }
        .nav-link {
            
            .btn-outline-dark {
                color: var(--color-gray);

                &:hover {
                    outline: solid var(--color-black) 2px;
                    background-color: var(--color-white);
                    color: var(--color-black);
                }
            }
            .dropdown-toggle::after {
                // here - change icon of menu
            }
        }
    }
    .icon-nav {
        padding-bottom: 6px;
        padding-right: 5px;
        
    }
}


.container {
    max-width: 80%;

    @media all and (max-width:768px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .btn-reverse-color {
        background-color: var(--color-black);
        color: var(--color-white);

        &:hover {
            outline: solid black 2px;
            background-color: var(--color-white) !important;
            color: var(--color-black) !important;
        }
    }
    section {
        max-width: 100%;
        picture {
            
            img {
                height: 80vh;

                @media all and (max-width:768px) {
                    width: 100%;
                }
            }
        }
    }
}
